<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{title}}</title>
		<link rel="stylesheet" type="text/css" href="{{ res }}dspnote.css" charset="utf-8">
		<!--script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js"></script-->
		<link rel="stylesheet" href="{{ res }}katex/katex.min.css">
		<script src="{{ res }}katex/katex.min.js"></script>
		<script src="{{ res }}katex/auto-render.min.js"></script>
	</head>
	<body>
		<div class=article>
		{{content|safe}}
		</div>
		<script src="{{ res }}sporthparams.js"></script>
		<script src="{{ res }}dspnote.js"></script>
		<script async src="{{ res }}sporthal.js"></script>
	</body>
</html>